.secretsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  .secretCard {
    border: 1px solid var(--box-shadow);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--text);
    .secretTitleWrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 12px;
      .type {
        font-size: 1.2rem;
        display: flex;
        gap: 6px;
        margin-top: 4px;
      }
    }
    .bottom {
      margin-top: 16px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 4px;
    }
    .metrics {
      font-size: 0.9rem;
      p > span:first-child {
        font-weight: 600;
        margin-right: 2px;
        font-size: 0.9em;
      }
    }
    .secretButtons {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    button {
      padding: 1px 4px;
      border-radius: 4px;
    }
    .deleteBtn {
      background-color: var(--error);
      color: var(--text);
    }
    .editBtn {
      border: 1px solid var(--primary-color);
    }
    .viewBtn {
      background-color: var(--primary-color);
      color: var(--text);
    }
  }
}
