.viewSecretPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin-bottom: 30px;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0px 6px;
    }
    p {
      word-break: break-all;
    }
    a {
      text-decoration: underline;
    }
  }
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
  }
  button.save {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text);
  }
}
