.membersTable {
  border-radius: 8px;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  // show scroll thumb only on scroll
  &:hover {
    &::-webkit-scrollbar-thumb {
      border-color: var(--primary-color);
    }
  }
  table {
    background: var(--text);
    box-shadow: 0px 1px 1px var(--box-shadow);
    border-radius: 8px 8px;
    width: 900px;
    border-collapse: collapse;
    thead {
      border-radius: 8px 8px 0px 0px;
    }
    thead tr {
      border-radius: 8px 8px 0px 0px;
      border-bottom: 1px solid var(--box-shadow);
      display: flex;
      align-items: center;
      text-align: left;
      font-weight: 600;
      padding: 0 10px;
    }
    thead tr > th > p {
      margin: 10px;
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--box-shadow);
        display: flex;
        font-weight: 500;
        padding: 0 10px;
        &:last-child {
          border-bottom: none;
        }
      }
      td {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      td > p {
        margin: 10px;
        width: calc(100% - 20px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      td:nth-child(3) > p {
        margin: 10px 0;
      }
    }
    th:nth-child(1),
    td:nth-child(1) {
      width: 170px;
    }
    th:nth-child(2),
    td:nth-child(2) {
      width: 200px;
    }
    th:nth-child(3),
    td:nth-child(3) {
      width: 120px;
    }
    th:nth-child(4),
    td:nth-child(4) {
      width: 120px;
    }
    th:nth-child(5),
    td:nth-child(5) {
      width: 100px;
    }
    th:nth-child(6),
    td:nth-child(6) {
      width: 150px;
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          padding: 2px 10px;
          border-radius: 5px;
          border: 1px solid var(--error);
          &:hover {
            color: var(--primary-color);
          }
        }
        button.delete {
          background-color: var(--error);
          color: var(--text);
        }
      }
    }
  }
  .unapproved {
    padding: 2px 10px;
    border-radius: 5px;
    width: max-content;
    background-color: var(--warning);
    color: var(--text);
  }
  .approved {
    padding: 2px 10px;
    border-radius: 5px;
    width: max-content;
    background-color: var(--success);
    color: var(--text);
  }
}
