.dashboardLayout {
  display: flex;
  .sidebar {
    position: relative;
    min-height: 100vh;
    width: var(--side-bar-width);
    background: var(--text);
    box-shadow: 0px 1px 2px var(--box-shadow);
  }
  .content {
    position: relative;
    min-height: 100vh;
    width: calc(100% - var(--side-bar-width));
    max-width: calc(1440px - var(--side-bar-width));
  }
  .page {
    padding: 24px;
  }
}
