.dashboardNavWrapper {
  height: var(--nav-bar-height);
  box-shadow: 0px 1px 0px var(--box-shadow);
  background-color: var(--text);
  .dashboardNav {
    height: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    .logo {
      margin-right: 20px;
      font-weight: 700;
      display: none;
      padding: 2px 5px;
      color: var(--black);
      background: var(--text);
      border: 3px double var(--black);
      @media screen and (max-width: 960px) {
        display: block;
      }
    }
    .pageTitle {
      font-size: var(--h4-text);
      white-space: nowrap;
    }
    .userName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--secondary-color);
    }
    @media screen and (max-width: 960px) {
      gap: 8px;
      .logoWrapper {
        width: 50px;
      }
    }
  }
}
