.dashboardSidebar {
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  width: var(--side-bar-width);
  background-color: var(--primary-color);
  color: var(--white-light-theme);
  .top {
    height: var(--nav-bar-height);
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
  }
  .toggle {
    display: none;
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 100;
    background-color: var(--primary-color);
    padding: 8px 4px;
    border-radius: 0 8px 8px 0;
    @media screen and (max-width: 960px) {
      display: block;
    }
  }
  .logoWrapper {
    margin: 0 auto;
    font-weight: 700;
    padding: 2px 5px;
    background: #353535;
    border: 3px double var(--white-light-theme);
    .small {
      display: none;
    }
  }
  .bottom {
    display: block;
    padding: 20px 12px;
    .navLinks {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      .link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        padding: 6px 8px;
        border-radius: 6px;
        cursor: pointer;
        font-size: var(--normal-text);
        transition: background-color 300ms ease-in-out;
        &:hover {
          background-color: #ffffff22;
        }
        .linkIcon {
          font-size: 1.5rem;
        }
      }
      .active {
        background-color: #ffffff22;
      }
    }
  }
  .bottom.small {
    display: none;
    .navLinks {
      align-items: center;
    }
    .navLinks {
      gap: 12px;
      .linkIcon {
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 960px) {
    position: absolute;
    top: 0;
    left: -70px;
    z-index: 10;
    width: 70px;
    transition: left 300ms ease-in-out;
    overflow: visible;
    &.active {
      left: 0;
    }
    .top {
      margin-left: 0px;
      margin-right: 0px;
      justify-content: center;
    }
    .logoWrapper {
      .large {
        display: none;
      }
      .small {
        display: block;
      }
    }
    .bottom.large {
      display: none;
    }
    .bottom.small {
      display: block;
    }
  }
}
