.editMemberPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: 10px;
    font-size: var(--h3-text);
  }
  .item {
    margin-bottom: 20px;
    font-size: var(--h2-text);
  }
  form {
    width: 100%;
    fieldset {
      border: none;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 20px;
      label {
        display: grid;
        align-items: flex-end;
        input,
        select {
          margin-top: 5px;
        }
      }
    }
    .buttons {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      button {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
      }
      button.save {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--text);
      }
    }
    @media screen and (max-width: 500px) {
      max-width: 300px;
      fieldset {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
