.button {
  padding: 8px 12px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--white);
  border: 1px solid transparent;
  font-size: var(--normal-text);
  font-weight: 500;
}

.plain {
  padding: 12px 0px;
  background-color: transparent;
  color: var(--primary-color);
}

.outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
