@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --nav-bar-height: 70px;
  --side-bar-width: 150px;

  // Font family
  --primary-font: "Nunito", sans-serif;

  // Font size
  --default-text: 16px;
  --h1-text: 1.625rem; // 26px
  --h2-text: 1.438rem; // 23px
  --h3-text: 1.25rem; // 20px
  --h4-text: 1.125rem; // 18px
  --normal-text: 1rem; // 16px
  --small-text: 0.875rem; // 14px
  --tiny-text: 0.813rem; // 13px

  // Light theme colors
  --blue-light-theme: #1d262a;
  --green-light-theme: #397835;
  --white-light-theme: #fefefe;
  --black-light-theme: #333333;
  --background-light-theme: #f8f5f5;
  --success-light-theme: #32a071;
  --info-light-theme: #0374ba;
  --warning-light-theme: #ffa500;
  --error-light-theme: #ff6347;
  --box-shadow-light-theme: rgba(18, 32, 59, 0.09);

  // Dark theme colors
  --blue-dark-theme: #1d262a;
  --green-dark-theme: #85f37d;
  --white-dark-theme: #e8e8e8;
  --black-dark-theme: #1a1a1a;
  --background-dark-theme: #1a1a1a;
  --success-dark-theme: #2dad63;
  --info-dark-theme: #2493d1;
  --warning-dark-theme: #efad33;
  --error-dark-theme: #ee553a;
  --box-shadow-dark-theme: rgba(228, 232, 240, 0.2);

  // website color
  --primary-color: var(--blue-light-theme);
  --secondary-color: var(--green-light-theme);
  --text: var(--white-light-theme);
  --black: var(--black-light-theme);
  --background: var(--background-light-theme);
  --success: var(--success-light-theme);
  --info: var(--info-light-theme);
  --warning: var(--warning-light-theme);
  --error: var(--error-light-theme);
  --box-shadow: var(--box-shadow-light-theme);

  /* Default values shown */

  passage-auth {
    /* Passage Container Styles */
    --passage-container-background: var(--background);
    --passage-container-background-color: #ffffff;

    --passage-container-max-width: 220px;
    --passage-container-margin: auto;
    --passage-container-padding: 30px 30px 20px;
    --passage-error-color: var(--error);

    /* Body Font Styles */
    --passage-body-font-family: var(--primary-font);
    --passage-body-font-size: var(--default-text);
    --passage-body-font-weight: 400;
    --passage-body-text-color: var(--black);

    /* Header Font Styles */
    --passage-header-font-family: var(--primary-font);
    --passage-header-font-weight: 600;
    --passage-header-text-color: var(--black);
    --passage-header-font-size: var(--h1-text);

    /* Button Styles */
    --passage-button-font-size: var(--default-text);
    --passage-button-font-weight: 400;
    --passage-button-width: 45%;
    --passage-button-border-radius: 8px;

    /* Color Palette */
    --passage-onprimary-color: var(
      --text
    ); /* text color on primary control background */
    --passage-primary-color: var(
      --primary-color
    ); /* main color used for controls */

    --passage-onhover-color: #fff;
    --passage-hover-color: var(--black);

    --passage-onactive-color: #fff;
    --passage-active-color: var(--black);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --side-bar-width: 0px;
  }
}
