@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --nav-bar-height: 70px;
  --side-bar-width: 150px;

  // Font family
  --primary-font: "Nunito", sans-serif;

  // Font size
  --default-text: 16px;
  --h1-text: 1.625rem; // 26px
  --h2-text: 1.438rem; // 23px
  --h3-text: 1.25rem; // 20px
  --h4-text: 1.125rem; // 18px
  --normal-text: 1rem; // 16px
  --small-text: 0.875rem; // 14px
  --tiny-text: 0.813rem; // 13px

  // Light theme colors
  --blue-light-theme: #1d262a;
  --green-light-theme: #397835;
  --pink-light-theme: #e2a8b5;
  --white-light-theme: #fefefe;
  --black-light-theme: #333333;
  --background-light-theme: #f8f5f5;
  --success-light-theme: #32a071;
  --info-light-theme: #0374ba;
  --warning-light-theme: #ffa500;
  --error-light-theme: #ff6347;
  --box-shadow-light-theme: rgba(18, 32, 59, 0.09);

  // Dark theme colors
  --blue-dark-theme: hsl(193, 20%, 43%);
  --green-dark-theme: #4d684b;
  --pink-dark-theme: #a46a77;
  --white-dark-theme: #e8e8e8;
  --black-dark-theme: #1a1a1a;
  --background-dark-theme: #f2f2f2;
  --success-dark-theme: #2dad63;
  --info-dark-theme: #2493d1;
  --warning-dark-theme: #ffa500;
  --error-dark-theme: #ff6347;
  --box-shadow-dark-theme: rgba(228, 232, 240, 0.09);

  // website color
  --primary-color: var(--blue-light-theme);
  --secondary-color: var(--green-light-theme);
  --tertiary-color: var(--pink-light-theme);
  --text: var(--white-light-theme);
  --black: var(--black-light-theme);
  --background: var(--background-light-theme);
  --success: var(--success-light-theme);
  --info: var(--info-light-theme);
  --warning: var(--warning-light-theme);
  --error: var(--error-light-theme);
  --box-shadow: var(--box-shadow-light-theme);
}

// Light theme colors
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--blue-light-theme);
    --secondary-color: var(--green-light-theme);
    --tertiary-color: var(--pink-light-theme);
    --text: var(--white-light-theme);
    --black: var(--black-light-theme);
    --background: var(--background-light-theme);
    --success: var(--success-light-theme);
    --info: var(--info-light-theme);
    --warning: var(--warning-light-theme);
    --error: var(--error-light-theme);
    --box-shadow: var(--box-shadow-light-theme);
  }
}

// Dark theme colors
@media (prefers-color-scheme: dark) {
  :root {
    // --primary-color: var(--blue-dark-theme);
    // --secondary-color: var(--green-dark-theme);
    // --tertiary-color: var(--pink-dark-theme);
    // --text: var(--white-dark-theme);
    // --black: var(--black-light-theme);
    // --background: var(--background-dark-theme);
    // --success: var(--success-dark-theme);
    // --info: var(--info-dark-theme);
    // --warning: var(--warning-dark-theme);
    // --error: var(--error-dark-theme);
    // --box-shadow: var(--box-shadow-dark-theme);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --side-bar-width: 72px;
  }
}
